/* リーディングビューでメタデータ、インラインタイトルを非表示 */
.markdown-reading-view:has(.home) .metadata-container,
.markdown-reading-view:has(.home) .inline-title {
  display: none;
}

/* ワイドビュー（左右に10pxの余白を追加） */
.markdown-source-view.mod-cm6:has(.home) > .cm-editor > .cm-scroller,
.markdown-reading-view:has(.home) .markdown-preview-section,
.markdown-reading-view:has(.home) .markdown-preview-section>div {
	width: 100% !important;
	max-width: 100% !important;
}