/* ヘッダーに下線を引いて色をアクセントカラーにする */
.HyperMD-header-1,
.markdown-preview-view h1 {
  font-size: 1.2em;
  color: var(--ax1);
  border-bottom: solid 2px var(--ax1);
}
.HyperMD-header-2,
.markdown-preview-view h2 {
  font-size: 1.1em;
  color: var(--ax1 );
  border-bottom: dashed 2px var(--ax1);
}
.HyperMD-header-3,
.markdown-preview-view h3 {
  font-size: 1.1em;
  color: var(--ax1 );
  border-bottom: dotted 2px var(--ax1);
}
.HyperMD-header-4,
.markdown-preview-view h4 {
  font-size: 1em;
  color: var(--ax1 );
  border-bottom: solid 1px var(--ax1);
}
.HyperMD-header-5,
.markdown-preview-view h5 {
  font-size: 1em;
  color: var(--ax1 );
  border-bottom: dashed 1px var(--ax1);
}
.HyperMD-header-6,
.markdown-preview-view h6 {
  font-size: 1em;
  color: var(--ax1 );
  border-bottom: dotted 1px var(--ax1);
}
