/* ヘッダーの前にレベル表示を追加 */
.HyperMD-header-1,
.HyperMD-header-2,
.HyperMD-header-3,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  position: relative;
}

.HyperMD-header-1::before,
.markdown-preview-view h1::before,
.HyperMD-header-2::before,
.markdown-preview-view h2::before,
.HyperMD-header-3::before,
.markdown-preview-view h3::before,
.HyperMD-header-4::before,
.markdown-preview-view h4::before,
.HyperMD-header-5::before,
.markdown-preview-view h5::before,
.HyperMD-header-6::before,
.markdown-preview-view h6::before {
  position: absolute;
  left: -1.5em;
  bottom: 0;
  opacity: 0.5;
  font-size: 0.85em;
}

.HyperMD-header-1::before,
.markdown-preview-view h1::before {
  content: "h1";
}

.HyperMD-header-2::before,
.markdown-preview-view h2::before {
  content: "h2";
}

.HyperMD-header-3::before,
.markdown-preview-view h3::before {
  content: "h3";
}

.HyperMD-header-4::before,
.markdown-preview-view h4::before {
  content: "h4";
}

.HyperMD-header-5::before,
.markdown-preview-view h5::before {
  content: "h5";
}

.HyperMD-header-6::before,
.markdown-preview-view h6::before {
  content: "h6";
}
