.theme-dark {
  /* ===== カラーパレット ===== */
  --theme-color: #1a1b26; /*背景色*/
  --theme-0: #15161e; /*黒 背景色2*/
  --theme-1: #f7768e; /*赤系 status*/
  --theme-2: #9ece6a; /*緑系 checkbox */
  --theme-3: #e0af69; /*黄色系 強調 */
  --theme-4: #7aa2f7; /*濃い青 link */
  --theme-5: #bb9af7; /*紫系、下でアクセントカラーに分解*/
  --theme-6: #76c4f1; /*水色 external link */
  --theme-7: #a9b2d6; /* グレー */
  /* アクセントカラーをoverride */
  --accent-h: 261;
  --accent-s: 85%;
  --accent-l: 79%;

  --background-primary: var(--theme-color);
  --background-secondary: var(--theme-0);
  --link-color: var(--theme-4);
  --link-color-hover: var(--theme-1);
  --link-external-color: var(--theme-6);
  --link-external-color-hover: var(--theme-1);
  --list-marker-color: var(--theme-3);
  --text-formatting: var(--theme-3); /*minimalでのみ適応*/
  --list-marker-color-collapsed: var(--theme-1);
  --indentation-guide-color: var(--theme-2);
  --indentation-guide-color-active: var(--theme-1);
  --checkbox-color: var(--theme-2);
  --text-accent: var(--theme-3);
  --text-muted: var(--theme-7);
  --text-faint: var(--theme-7);
  --bold-color: var(--theme-3);
  --h1-color: var(--theme-5);
  --h2-color: var(--theme-5);
  --h3-color: var(--theme-5);
  --h4-color: var(--theme-5);
  --h5-color: var(--theme-5);
  --h6-color: var(--theme-5);
  --tag-color: var(--theme-3) !important;
  --tag-color-hover: var(--theme-1) !important;
  --code-background: var(--theme-0);
  --code-comment: var(--theme-7);
  --blockquote-border-color: var(--theme-2);
  --line-number-color-active: var(--theme-1); /* minimalでのみ適応 */
}
