.theme-dark {
  /* ===== カラーパレット ===== */
  --theme-color: #1a1b26; /* bg (背景色) */
  --theme-0: #16161e; /* bg_float (背景色2) */
  --theme-1: #f7768e; /* red (赤系) */
  --theme-2: #9ece6a; /* green (緑系) */
  --theme-3: #e0af68; /* yellow (黄色系・強調) */
  --theme-4: #7aa2f7; /* blue (リンク) */
  --theme-5: #bb9af7; /* magenta (紫系) */
  --theme-6: #7dcfff; /* cyan (水色・外部リンク) */
  --theme-7: #a9b1d6; /* fg_dark (グレー) */
  /* アクセントカラーをoverride */
  --accent-h: 261;
  --accent-s: 85%;
  --accent-l: 79%;

  --background-primary: var(--theme-color);
  --background-secondary: var(--theme-0);
  --link-color: var(--theme-4);
  --link-color-hover: var(--theme-1);
  --link-external-color: var(--theme-6);
  --link-external-color-hover: var(--theme-1);
  --list-marker-color: var(--theme-3);
  --list-marker-color-collapsed: var(--theme-1);
  --indentation-guide-color: var(--theme-2);
  --indentation-guide-color-active: var(--theme-1);
  --checkbox-color: var(--theme-2);
  --text-accent: var(--theme-3);
  --text-muted: var(--theme-7);
  --text-faint: var(--theme-7);
  --bold-color: var(--theme-3);
  --h1-color: var(--theme-5);
  --h2-color: var(--theme-5);
  --h3-color: var(--theme-5);
  --h4-color: var(--theme-5);
  --h5-color: var(--theme-5);
  --h6-color: var(--theme-5);
  --tag-color: var(--theme-3) !important;
  --tag-color-hover: var(--theme-1) !important;
  --code-background: var(--theme-0);
  --code-comment: var(--theme-7);
  --blockquote-border-color: var(--theme-2);

  /* minimalでのみ適応 */
  --text-formatting: var(--theme-3);
  --line-number-color-active: var(--theme-1);
  --minimal-tab-text-color-active: var(--theme-1); 
}
