.theme-dark {
  /* ===== カラーパレット ===== */
  --palette-bg: #1a1b26;
  --palette-bg-alt: #16161e;
  --palette-red: #f7768e; /* active status */
  --palette-green: #9ece6a; /* structure */
  --palette-yellow: #e0af68; /* strong */
  --palette-blue: #7aa2f7; /* link */
  --palette-magenta: #bb9af7; /* accent color */
  --palette-cyan: #7dcfff; /* external link */
  --palette-gray: #a9b1d6; /* text color */

  /* magentaをhslに分解しアクセントカラーをoverride */
  --accent-h: 261;
  --accent-s: 85%;
  --accent-l: 79%;

  /* ===== 用途 ===== */
  --background-primary: var(--palette-bg);
  --background-secondary: var(--palette-bg-alt);
  --link-color: var(--palette-blue);
  --link-color-hover: var(--palette-red);
  --link-external-color: var(--palette-cyan);
  --link-external-color-hover: var(--palette-red);
  --list-marker-color: var(--palette-yellow);
  --list-marker-color-collapsed: var(--palette-red);
  --indentation-guide-color: var(--palette-green);
  --indentation-guide-color-active: var(--palette-red);
  --checkbox-color: var(--palette-green);
  --text-accent: var(--palette-yellow);
  --text-muted: var(--palette-gray);
  --text-faint: var(--palette-gray);
  --bold-color: var(--palette-yellow);
  --h1-color: var(--palette-magenta);
  --h2-color: var(--palette-magenta);
  --h3-color: var(--palette-magenta);
  --h4-color: var(--palette-magenta);
  --h5-color: var(--palette-magenta);
  --h6-color: var(--palette-magenta);
  --tag-color: var(--palette-yellow) !important;
  --tag-color-hover: var(--palette-red) !important;
  --code-background: var(--palette-bg-alt);
  --code-comment: var(--palette-gray);
  --blockquote-border-color: var(--palette-green);

  /* minimalでのみ適応 */
  --text-formatting: var(--palette-yellow);
  --line-number-color-active: var(--palette-red);
  --minimal-tab-text-color-active: var(--palette-red); 
}
