/* アクティブリーフに枠線を表示して、insert modeのときは赤にする */
.workspace-leaf.mod-active .workspace-leaf-content {
    position: relative;
}
.workspace-leaf.mod-active .workspace-leaf-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid hsl( var(--accent-h), var(--accent-s), var(--accent-l) ); /* アクセントカラーを使用 */
    pointer-events: none;
    z-index: 9999;
}
.workspace-leaf.mod-active .workspace-leaf-content:has(.markdown-source-view):not(:has(.cm-vimMode))::before {
    border-color: #f7768e;
}
