.workspace-leaf-content{
    box-sizing: border-box;
    border: 4px solid transparent;
}
.workspace-leaf.mod-active .workspace-leaf-content {
    border-color: red;
}
.workspace-leaf.mod-active .workspace-leaf-content:has(.cm-vimMode) {
    border-color: var(--ax1);
}
