/* Variable	Description
--tab-stacked-pane-width	Stacked pane width
--tab-stacked-header-width	Stacked header width
--tab-stacked-font-size	Stacked tab font size
--tab-stacked-font-weight	Stacked tab font weight
--tab-stacked-text-align	Stacked tab text alignment
--tab-stacked-text-transform	Stacked tab text transform
--tab-stacked-text-writing-mode	Stacked tab text writing mode
--tab-stacked-shadow	Stacked tab shadow
*/

body {
  --tab-stacked-header-width: 20px; 
}

/*スタックタブのアイコンを非表示*/
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner-icon {
  display: none;
}

/* アクティブなスタックタブに色*/
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header.is-active {
  background: color-mix(in srgb, var(--ax1) 50%, var(--background-primary) 50%);
}