/* サイドバーの幅を固定 */
.mod-left-split {
  width: 330px !important;
}

.mod-right-split {
  width: 300px !important;
}

/* サイドバーの一番下のタブの高さを制限する */
.mod-left-split .workspace-tabs:not(.mod-top):last-of-type {
    max-height: 310px;
}
.mod-right-split .workspace-tabs:not(.mod-top):last-of-type {
    max-height: 220px;
}
