/* アクセントカラーを定義する(デフォルトテーマ、minimalテーマで確認) */
body {
    --ax1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --accent-color-10: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
    --accent-color-20: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.2);
    --accent-color-30: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.3);
    --accent-color-40: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.4);
    --accent-color-50: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
    --accent-color-60: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.6);
    --accent-color-70: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.7);
    --accent-color-80: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.8);
    --accent-color-90: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.9);
    --cards-background: var(--accent-color-10); /* card viewの背景色をアクセントカラーにする */
}

/* 線をアクセントカラーにする */
.clickable-icon,
.dropdown,
button,
a.tag,
.bases-tr {
    border-color: var(--accent-color-50);
    border-style: solid;
    border-width: 1px;
}

/* タブバーの背景色をアクセントカラーにする */
.workspace-tab-header-container{
    background: var(--accent-color-50);
}

/* アクティブカーソルの背景色をアクセントカラーにする */
.cm-active{
    background-color: var(--accent-color-20);
}

/* Basesプラグイン */
/* Basesのheaderの背景色をアクセントカラーにする */
.bases-header{
    background-color:var(--accent-color-30);
}
/* Basesのcard viewの背景色をアクセントカラーにする */
.bases-cards-item:hover {
    background-color: var(--accent-color-20);
}

